<footer class="footer div_back">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item a_link">*</li>
                    <li class="list-inline-item "><a class="a_link" href="{% url 'Contacto' %}">Contacto</a></li>
                    <li class="list-inline-item a_link">*</li>
                    <li class="list-inline-item"><a class="a_link" href="{% url 'terminos' %}">Terminos de Uso</a></li>
                    <li class="list-inline-item a_link">*</li>
                    <li class="list-inline-item"><a class="a_link" href="{% url 'privacidad' %}">Politicas de Privacidad</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; <small style="color:aquamarine ;">Your Website 2022. All Rights Reserved.</small> </p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="https://www.facebook.com/"><i class="bi-facebook fs-3 icon_style"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="https://twitter.com/"><i class="bi-twitter fs-3 icon_style"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.gmail.com/mail/help/intl/es/about.html?iframe"><i class="bi-instagram fs-3 icon_style"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>