{% load static %}
<section class="py-5">
    <header class="bg-dark py-1">
        <div class="container px-1 px-lg-1 my-1">
            <div class="text-center text-white">
                <h1 class="display-6 fw-bolder">Top 8 mejores del mes</h1>
            </div>
        </div>
    </header>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-5 row-cols-md-6 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">                    
                    <div class="card h-auto w-auto">                    
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Recomendado</div>
                        <!-- Product image-->
                        <img class="card-img-top" style="height: 400px;" src="{% static 'assets/Sak_tapa.jpg' %}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Card Captor Sakura</h5>
                                <!-- Product price-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www3.animeflv.net/anime/sakura-card-captor">Ver Anime</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card card h-auto w-auto">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"></div>
                        <!-- Product image-->
                        <img class="card-img-top" style="height: 400px;"  src="{% static 'assets/Naruto_tapa.jpg' %}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Naruto</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www3.animeflv.net/anime/naruto">Ver Anime</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card card h-auto w-auto">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"></div>
                        <!-- Product image-->
                        <img class="card-img-top" style="height: 400px;"  src="{% static 'assets/shingeki.jpg' %}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Shingeki no Kyojin</h5>
                                <!-- Product price-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www3.animeflv.net/anime/shingeki-no-kyojin">Ver Anime</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card card h-auto w-auto">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Recomendado</div>
                        <!-- Product image-->
                        <img class="card-img-top" style="height: 400px;" src="{% static 'assets/kimetsu.jpg' %}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Kimetsu no Yaiba</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www3.animeflv.net/anime/kimetsu-no-yaiba">Ver Anime</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card card h-auto w-auto">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"></div>
                        <!-- Product image-->
                        <img class="card-img-top" style="height: 400px;"  src="{% static 'assets/jujutsu.jpg' %}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Jujutsu Kaisen</h5>
                                <!-- Product price-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www3.animeflv.net/anime/jujutsu-kaisen-tv">Ver Anime</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card card h-auto w-auto">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"></div>
                        <!-- Product image-->
                        <img class="card-img-top" style="height: 400px;"  src="{% static 'assets/death.jpg' %}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Death Note</h5>
                                <!-- Product price-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www3.animeflv.net/anime/death-note">Ver Anime</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card card h-auto w-auto">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"></div>
                        <!-- Product image-->
                        <img class="card-img-top" style="height: 400px;"  src="{% static 'assets/School.jpg' %}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">School Days</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www3.animeflv.net/anime/school-days">Ver Anime</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card card h-auto w-auto">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Recomendado</div>
                        <!-- Product image-->
                        <img class="card-img-top" style="height: 400px;"  src="{% static 'assets/Tokyo.jpg' %}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Tokyo Revengers</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www3.animeflv.net/anime/tokyo-revengers">Ver Anime</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>