{% extends 'index.html' %}

{% load static %}

{% block title %}
Acerca de..
{% endblock %}


{% block personalizable %}
         <!-- Section-->
     	<div class="container-fluid">
            <div class="card-body">
                <div class="card-body div_style">
                <h1 style="text-align:center ;">Acerca de mi y mi proyecto</h1>
                </div>
                <p class="p_style">
                    Hola!! Me llamo Johanna, Hace poco mas de un año decidí cambiar el rumbo de mi vida y comencé en el mundo de IT.
                    <br>
                    Primero con Excel, luego SQL y así seguí sumando conocimientos.
                    <br>
                    Como todo cambio debia ser completo y es por eso que también hice cambios radicales en mi vida, como por ejemplo, vender todo en Argentina y mudarme con mi esposo y mi perra a Barcelona, España.
                    <br> 
                    Ahora me encuentro en la búsqueda de un nuevo trabajo en esta nueva área y en un nuevo país.
                    <br> 
                    En cuanto al proyecto, elegi realizar un blog donde los usuarios pudieran compartir informacion sobre un tema que me gusta mucho que es el anime.
                    <br>
                    En el mismo se pueden ver informacion sobre de que tratan, quien fue su creador, capitulos y temporadas.
                    <br>
                    Creo que es una buena idea y estoy disfrutando hacerlo.
                    <br>
                    Te dejo un vistazo de mis 3 personajes favoritos.
                    <br>
                    Saludos...
                    <div class="container-fluid">
                        <div class="row ">
                          <div class="col-md">
                            <img src="{% static 'assets/kakashi.gif' %}" alt="Funny image" style="height: 450px ; width: 400px; border-radius: 50px ; margin-left: 2cm; border-style: solid; border-color: aquamarine;">
                          </div>
                          <div class="col-md">
                            <img src="{% static 'assets/sakura.gif' %}" alt="Funny image" style="height: 450px ; width: 400px; border-radius: 50px ; margin-left: 2cm; border-style: solid; border-color: aquamarine;">
                          </div>
                          <div class="col-md">
                            <img src="{% static 'assets/gojo.gif' %}" alt="Funny image" style="height: 450px ; width: 400px ; border-radius: 50px ; margin-left: 2cm; border-style: solid; border-color: aquamarine;">
                          </div>
                        </div>
                      </div>
            </div>
    	</div>
{% endblock %}