{% extends 'index.html' %}

{% block title %}
{{ name_submit }}
{% endblock %}


{% block personalizable %}
         <!-- Form-->
         <div class="card" style="background-color: aquamarine ; color:black ; margin-top: 1cm; margin-bottom: 1cm; margin-left: 8cm; margin-right: 8cm; font-size: 0.7cm ; border-radius: 50px; padding: 1cm;">

            <h1 style="text-align: center ; text-decoration:underline ; background-color: black ; color:aquamarine; padding: 0.5cm ; border-radius: 20px ;"> {{name_form}} </h1>
            <br>

            <form action="" method="POST" enctype="multipart/form-data"> 
               
            {% csrf_token %}

               {{ form.as_p }}
      
               <input type="submit" value="Enviar" style="text-align: center ; text-decoration:underline ; background-color: black ; color:aquamarine; padding: 0.2cm ; border-radius: 20px ;" >

            </form>            
         </div>


{% endblock %}