{% extends 'index.html' %}

{% block title %}
Mostrar Generos
{% endblock %}


{% block personalizable %}
         <!-- Mostrar todos los animes-->
         <div class="container-fluid">
            <div class="card-body">
               <div class="card-body div_style">
                  <h1 style="text-decoration:underline; text-align: center; font-size: 2cm ;">Generos</h1> 
                  <br>
               </div>
            </div>
         </div>
         {% for genero in generos %}  
         <div class="container-fluid">
            <div class="card-body">
               <div class="card-body div_style">
                  <h1 style="text-decoration:underline;">{{genero.nombre}}</h1> 
                  <br>
                                        
<!-- 
                        Nombre del genero: {{genero.nombre}}
                        <br> -->
                        <strong>Detalle del genero:</strong>  {{genero.detalle}}
                        <br>
                        <br>                  
                        
                  <button style="background-color:black ; border-radius: 10px;">
                           <a href="{% url 'eliminar_genero' genero.nombre %} "><i class="bi bi-trash icon_style"></i></a>
                  </button>
                  
               </div>
            </div>
         </div>
         {% endfor %}
{% endblock %}